<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.facetwork.osm-maintain</string>
    <key>ProgramArguments</key>
    <array>
        <string>__WRAPPER__</string>
        <string>__CONFIG__</string>
    </array>
    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>__HOUR__</integer>
        <key>Minute</key>
        <integer>__MINUTE__</integer>
    </dict>
    <key>RunAtLoad</key>
    <false/>
    <key>StandardOutPath</key>
    <string>__LOGDIR__/maintain.log</string>
    <key>StandardErrorPath</key>
    <string>__LOGDIR__/maintain.err.log</string>
</dict>
</plist>
